.login-label {
  padding-top: 5px;
}

.btn {
  margin: 10px auto 10px;
}

.ppp {
  .pppp{
    font-weight: bold;
  }
}

.checkbox-login {
  width: auto;  
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}
